my_product.img
product/app/webview/webview.apk
my_preload.img
modem.img
odm/etc/camera/license_release_fdc.lic
odm/etc/camera/model/license.lic
my_heytap.img
system_ext/apex/com.android.vndk.v30.apex
boot.img
